:root {
  /* Colors */
  --primary-clr: hsl(257, 40%, 49%);
  --second-primary-clr: hsl(300, 69%, 71%);
  --clr-100: hsl(0, 0%, 100%);
  --clr-900: hsl(0, 0%, 0%);

  /* Font families */
  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* Font sizes */
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-800: 1.875rem;
  --fs-900: 2.5rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* CSS Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style-type: none;
}

button {
  font: inherit;
}

/* Main style */
body {
  min-height: 100dvh;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: var(--ff-body);
  line-height: 1.6;
  text-align: center;
  margin: 2rem 3rem;
  color: var(--clr-100);
  background-color: var(--primary-clr);
}

main {
  display: grid;
  place-items: center;
}

.logo {
  max-width: 10rem;
}

.illustration {
  margin-block: 5rem;
}

.heading {
  max-width: 20ch;
  margin-inline: auto;
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: var(--fw-semi-bold);
}

.desc {
  max-width: 50ch;
  font-size: var(--fs-500);
  margin-block: 1rem;
}

.button {
  margin-block: 1rem;
  padding: 0.7rem 5.4rem;
  border: none;
  border-radius: 100vw;
  font-family: var(--ff-heading);
  color: var(--primary-clr);
  background-color: var(--clr-100);
  cursor: pointer;
  box-shadow: 0px 3px 8px hsla(0, 0%, 0%, 0.27);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  color: var(--clr-100);
  background-color: var(--second-primary-clr);
}

footer {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.social-meida {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.5rem;
  fill: var(--clr-100);
  border-radius: 100vw;
  border: 1px solid var(--clr-100);
}

.social-icon:hover {
  fill: var(--second-primary-clr);
  border: 1px solid var(--second-primary-clr);
}

.attribution {
  font-size: 1rem;
  margin: 1rem auto;
  color: var(--second-primary-clr);
  text-align: center;
}

.attribution a {
  color: var(--clr-100);
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Desktop */
@media (min-width: 50em) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    text-align: left;
    overflow: hidden;
  }

  main {
    grid-template-columns: auto auto;
  }

  .logo {
    max-width: 12rem;
  }

  .heading {
    font-size: var(--fs-900);
    margin-inline: 0 auto;
  }

  .button {
    font-size: var(--fs-500);
    padding: 0.7rem 3.5rem;
    box-shadow: 0px 3px 8px hsla(0, 0%, 0%, 0.5);
  }

  footer {
    place-items: end;
  }

  .attribution {
    margin: 5rem auto;
  }
}
